﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BimPoint</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        TASK MANAGER
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer">
        &copy; 2019 - Dawid Kraczkowski
    </footer>
    <div class="modal hidden" id="modal">
        <div class="modal-content" id="modal-content">
            
        </div>
    </div>
   

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        function ShowModal(content) {
            $("#modal-content").html(content);

            $("#modal").removeClass("hidden");
        };

        function HideModal() {
            $("#modal").addClass("hidden");

            $("#modal-content").empty();
        };

        function ShowModalAndSetupValidation(content) {
            ShowModal(content);

            var form = $("#modal form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");

            $.validator.unobtrusive.parse(form);
            $(form).valid();
        };

        $(document).ready(function () {
            $("body").on("input", "textarea", function () {
                this.style.height = 'auto';
                this.style.height = this.scrollHeight + 'px';
            });
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
