﻿@using UIConstants = BimPoint.Constants.Areas.UI

@model BimPoint.Areas.UI.ViewModels.Home.AssignmentUpdateModalPartialViewModel

<div class="frame">
    <form asp-controller="@UIConstants.HomeConstants.ControllerName" asp-action="@UIConstants.HomeConstants.Actions.UpdateAssignment" id="form-update" method="post">
        <input asp-for="Id" type="hidden" />
        <div class="frame-header">
            <input asp-for="Title" class="title-input" /><i class="fas fa-times" id="close-modal" style="float:right;font-size:23px;"></i>
        </div>
        <div class="frame-content">
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="validation-text"></span>
            </div>
            <button id="button-remove" type="button" class="button-red" style="margin:10px auto; width:200px;">Delete</button>
            <button type="submit" class="button" style="margin:10px auto; width:200px;">Save</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var isSubmiting = false;

    function submitForm(e) {
        e.preventDefault();

        if (isSubmiting == true)
            return;

        isSubmiting = true;

        $.ajax({
            url: $(this).attr('action'),
            method: "POST",
            data: $(this).serialize(),
            success: function (isUpdated) {
                if (isUpdated == false)
                    return;

                HideModal();

                $.ajax({
                    method: 'GET',
                    data: { id: @Model.Id },
                    url: '@Url.Action(UIConstants.HomeConstants.Actions.AssignmentElement, UIConstants.HomeConstants.ControllerName)'
                }).done(function (html) {
                    $('#list [data-id="' + @Model.Id + '"]').replaceWith(html);
                });
            }
        });
    };

    function deleteElement () {
        $.ajax({
            method: "DELETE",
            data: { id: @Model.Id },
            url: '@Url.Action(UIConstants.HomeConstants.Actions.DeleteAssignment, UIConstants.HomeConstants.ControllerName)',
            success: function (isDeleted) {
                if (isDeleted == false)
                    return;

                HideModal();

                $('#list [data-id="' + @Model.Id + '"]').replaceWith();
            }
        });
    };

    // Remove handlers before attaching new ones
    $("#modal").off('submit', '#form-update');
    $("#modal").off("click", "#button-remove");

    $("#modal").on('submit', '#form-update', submitForm);
    $("#modal").one("click", "#button-remove", deleteElement);
</script>