﻿@using UIConstants = BimPoint.Constants.Areas.UI

@model BimPoint.Areas.UI.ViewModels.Home.AssignmentCreateModalPartialViewModel

<div class="frame">
    <form asp-controller="@UIConstants.HomeConstants.ControllerName" asp-action="@UIConstants.HomeConstants.Actions.CreateAssignment" id="form-create" method="post">
        <div class="frame-header">
            <input asp-for="Title" class="title-input" /><i class="fas fa-times" id="close-modal" style="float:right;font-size:23px;"></i>
        </div>
        <div class="frame-content">
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="validation-text"></span>
            </div>
            <button type="submit" class="button" style="margin:10px auto; width:200px;">Add</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var isSubmiting = false;

    function submitForm(e) {
        e.preventDefault();

        if (isSubmiting == true)
            return;

        isSubmiting = true;

        $.ajax({
            url: $(this).attr('action'),
            method: "POST",
            data: $(this).serialize(),
            success: function (id) {
                if (id == null)
                    return;

                HideModal();

                $.ajax({
                    method: 'GET',
                    data: { id: id },
                    url: '@Url.Action(UIConstants.HomeConstants.Actions.AssignmentElement, UIConstants.HomeConstants.ControllerName)'
                }).done(function (html) {
                    $('#list').append(html);
                });
            }
        });
    };

    // Remove handler before attaching new one
    $("#modal").off('submit', '#form-create');

    $("#modal").on('submit', '#form-create', submitForm);
</script>