﻿@model BimPoint.Areas.UI.ViewModels.Home.AssignmentElementPartialViewModel

<div class="element" style="margin:5px auto 5px auto; width:30%;min-width:300px;" data-id="@Model.Id">
    @Model.Title<i class="far fa-edit" style="float:right;"></i>
</div>