﻿@using UIConstants = BimPoint.Constants.Areas.UI

@model IList<BimPoint.Areas.UI.ViewModels.Home.AssignmentElementPartialViewModel>

@{
    ViewData["Title"] = "Task manager";
}

<div id="list">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync(UIConstants.HomeConstants.Views.AssignmentElementPartial, item);
    }
</div>

<div class="button" id="add-button" style="margin:5px auto 5px auto; width:30%;min-width:300px;">Add <i class="fas fa-plus-circle"></i></div>

@section Scripts
{
    @await Html.PartialAsync(UIConstants.SharedConstants.Views._ValidationScriptsPartial)

    <script type="text/javascript">

        $(document).ready(function () {
            $("#list").on("click", "div.element[data-id]", function (el) {
                $.ajax({
                    method: 'GET',
                    data: { id: el.target.dataset.id },
                    url: '@Url.Action(UIConstants.HomeConstants.Actions.AssignmentUpdateModal, UIConstants.HomeConstants.ControllerName)'
                }).done(function (data) {
                    ShowModalAndSetupValidation(data);
                });
            });

            $("#add-button").on("click", function () {
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action(UIConstants.HomeConstants.Actions.AssignmentCreateModalPartial, UIConstants.HomeConstants.ControllerName)'
                }).done(function (data) {
                    ShowModalAndSetupValidation(data);
                });
            });

            $("#modal").on("click", "#close-modal", function () {
                HideModal();
            });
        });
    </script>
}