﻿* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #0079bf;
}

body {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    display: block;
    resize: none;
    overflow: hidden;
    padding: 10px 12px;
    outline: 0;
    border-radius: 10px;
    min-height: 200px;
    width: 100%;
}

textarea:focus {
    border-color: #66afe9;
}


.content {
    padding-left: 50px;
    padding-right: 50px;
}

.modal {
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.7)
}

.modal-content {
    position:relative;
    min-width: 700px;
    max-width: 700px;
    padding: 50px;
    margin: 50px auto auto auto;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #0067a3;
    overflow: auto;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #0067a3;
    overflow: auto;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.form-group {
    padding: 6px;
    box-sizing: border-box;
}

input.title-input {
    text-align: center;
    border: 0;
    background: transparent;
    color: white;
    width: 400px;
    font-size: 20px;
    outline: 0;
    border-radius: 5px;
    padding: 0;
}

input.title-input:focus, input.title-input:hover {
    background-color: #005485;
}

textarea.input-validation-error {
    border-color: red;
}

input.title-input.input-validation-error {
    border: 1px solid red;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    color: #555555;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px 12px;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
}

.element {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0;
    background-color: white;
}

.element:hover {
    background-color: #f4f5f7;
    cursor: pointer;
}

.element i {
    color: #005485;
    opacity: 0;
}

.element:hover i {
    opacity: 1.0;
    transition: 0.2s;
}

.frame .frame-header {
    width: 100%;
    background-color: #0067a3;
    border-top-left-radius: 10px;
    box-sizing: border-box;
    border: 0;
    border-top-right-radius: 10px;
    padding: 25px 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.frame .frame-content {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0;
    background-color: white;
}

.frame-header + .frame-content {
    padding: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#close-modal {
    cursor:pointer;
}

.button {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    box-sizing:border-box;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #0067a3;
    color: white;
}

.button i {
    opacity: 0.0;
}

.button:hover {
    background-color: #005485;
    transition: 0.2s;
}

.button:hover i {
    opacity: 1.0;
    transition: 0.2s;
}

.button-red {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #ba0000;
    color: white;
}

.button-red:hover {
    background-color: #980000;
    transition: 0.2s;
}

.validation-text {
    display: flex;
    height: 25px;
    vertical-align: middle;
    color: red;
    font-size: 12px;
    align-items: center;
}

.validation-text span {
    margin: 0px auto;
}